# -----------------------------------------------------------------------------
# Application
# -----------------------------------------------------------------------------
BASE_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=""

GITHUB_ID=""
GITHUB_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# -----------------------------------------------------------------------------
# Database (PostgreSQL - Railway)
# -----------------------------------------------------------------------------
DATABASE_URL=postgresql://
# If you get the Error: P1002 while npm run migrate:dev
PRISMA_SCHEMA_DISABLE_ADVISORY_LOCK=false

# -----------------------------------------------------------------------------
# OpenAI ChatGPT
# -----------------------------------------------------------------------------
OPENAI_API_KEY=""

# -----------------------------------------------------------------------------
# Stripe
# -----------------------------------------------------------------------------
STRIPE_API_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_SUBSCRIPTION_PRICE_ID=""